<!DOCTYPE html>
<html>
<head>
	<title>links</title>
</head>
<style>
	body{
		background-color:tan;
	}
	li{
  width:100px;
  padding: 10px;
  border: 7px solid gray;
  margin: 2px 5px;
  background-color: beige;
	}
</style>
<body>
	 <form action = "/links" method = "get">
	<h2> Here are references to complete your to-do/bucket list immediately </h2>
	<ul type="square">
	<li> FOOD </li><br>
		1.<a href="https://www.cntraveller.com/gallery/best-restaurants-in-india"  target="_blank">INDIA'S TOP RESTAURANTS
	<br>
	2.<a href="https://edition.cnn.com/travel/article/world-best-food-cultures/index.html"  target="_blank"> TOP CUISINES
		<br></a>

		<li> EDUCATION</li><br>
	1.<a href="https://www.shiksha.com/engineering/ranking/top-engineering-colleges-in-india/44-2-0-0-0"  target="_blank">ENGINEERING COLLEGES
	<br></a>2.<a href="https://www.mindler.com/blog/top-10-medical-colleges-in-india/" target="_blank">MEDICAL COLLEGES
		<br></a>
		<li> FITNESS</li><br>
		1.<a href="https://www.nerdfitness.com/blog/a-beginners-guide-to-the-gym-everything-you-need-to-know/" target="_blank">BASIC GYM
			<br></a>
		2.<a href="https://www.trendymami.com/yoga-poses-beginners/?keyword=yoga%20exercises&utm_source=bing&utm_medium=cpc&utm_campaign=India%20Traffic&utm_term=yoga%20exercises&utm_content=10%20Yoga%20Poses%20for%20Beginners%20that%20will%20Give%20you%20Countless%20Benefits " target="_blank"> YOGA</a>
		<br></a>
		<li>HEALTH</li><br>
			1.<a href="https://www.healthprice.in/top/best-multispecialty-hospitals-in-india"  target="_blank">TOP 10 MULTISPECIALITY HOSIPTALS
				<br></a>
			2.<a href="https://thechampatree.in/blog/baby-and-child/childrens-hospitals-in-india/"  target="_blank">Children Hosiptals</a><br>
		<li> TOURISM</li>
				1.<a href="https://ttc.com/top-10-best-places-to-visit-in-the-world-in-2021/" target="_blank">WORLD
					<br>
				</a>
				2.<a href="https://www.touropia.com/best-places-to-visit-in-india/"target="_blank">INDIA</a>
				<br>
				<li>SHOPPING</li>
				<a href="https://traveltriangle.com/blog/shopping-in-hyderabad/" target="_blank">HYDERABAD</a>
				<br>
			</ul>
	</body>
</html>